@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<partial name="_EventNav" />

<h2> Registration Successful</h2>
<p><strong>Full Name:</strong> @Model.FullName</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>EventCode:</strong> @Model.EventCode</p>
<p><strong>Tickets:</strong> @Model.Tickets</p>
